{% extends 'ciphersite/base.html' %}

{% block content %}
{% block form_tag %}
<form action="{% block action %}{% endblock %}" method="post" {% block form_tag_params %}{% endblock %}>
{% endblock form_tag %}
    {% csrf_token %}
    {% block fields_loop %}
        {% block non_field_error_section %}
            <div class="mb-3">
            {% for error in form.non_field_errors %}
                <label class="text-danger">{{ error }}</label><br>
            {% endfor %}
            </div>
        {% endblock non_field_error_section %}

        {% block before_fields %}{% endblock before_fields %}

        {% for field in form %}
            {% with widget=field.field.widget %}
            {% block field_row %}
                <div id="{{ field.auto_id }}_container" class="mb-3">
                    {% block field_row_contents %}
                        {% if field.widget_type == 'radioselect' %}
                            {% for choice in field.field.choices %}
                                <div class="form-check">
                                    <input type="radio"
                                           class="form-check-input"
                                           name="{{ field.name }}"
                                           id="{{ field.auto_id }}_{{ choice.0 }}"
                                           value="{{ choice.0 }}"
                                           {% if field.data == choice.0 %}checked{% endif %}/>
                                    <label for="{{ field.auto_id }}_{{ choice.0 }}" class="form-check-label">{{ choice.1 }}</label>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% block label_display %}
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {% endblock label_display %}

                            {% if field.widget_type == 'textarea' %}
                                <textarea id="{{ field.id_for_label }}"
                                      name="{{ field.name }}"
                                      {% for attr, value in widget.attrs.items %}
                                          {{ attr }}="{{ value }}"
                                      {% endfor %}>{{ field.form|get_field_data:field.name }}</textarea>
                            {% elif field.widget_type == 'text' %}
                                <input type="text"
                                       name="{{ field.name }}"
                                       {% for attr, value in widget.attrs.items %}
                                            {{ attr }}="{{ value }}"
                                       {% endfor %}
                                        value="{{ field.form|get_field_data:field.name }}">
                            {% else %}
                                {% block field_display %}
                                    {{ field }}
                                {% endblock field_display %}
                            {% endif %}
                        {% endif %}

                        {% block error_display %}
                            {% if field.errors %}
                                <div class="invalid-feedback">
                                    {{ field.errors|break_join|safe }}
                                </div>
                            {% endif %}
                        {% endblock error_display %}

                    {% endblock field_row_contents %}
                </div>
            {% endblock field_row %}
            {% endwith %}

            {% block insert_block_after_field %}{% endblock insert_block_after_field %}
        {% endfor %}
    {% endblock fields_loop %}

    {% block after_fields %}{% endblock after_fields %}

    <div class="mb-3">
        {% block submit_section %}
            <div class="row">
                {% block submit_row %}
                    <div class="d-grid col-6">
                        <button type="submit" name="encrypt" value="encrypt" class="btn btn-primary btn-block">Encrypt</button>
                    </div>
                    <div class="d-grid col-6">
                        <button type="submit" name="decrypt" value="decrypt" class="btn btn-secondary btn-block">Decrypt</button>
                    </div>
                {% endblock submit_row %}
            </div>
        {% endblock submit_section %}
    </div>
</form>
{% endblock content %}