{% extends 'ciphersite/encryption_form.html' %}

{% block title %}MD5 Cipher{% endblock title %}

{% block form_tag_params %}
    enctype="multipart/form-data"
{% endblock form_tag_params %}

{% block before_fields %}
<!--
    <div class="form-check">
    <input class="form-check-input" type="radio" name="inputTypeRadio" id="flex" checked>
    <label class="form-check-label" for="flexRadioDefault1">
    Default radio
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="inputTypeRadio" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault2">
    Default checked radio
    </label>
</div>-->
{% endblock before_fields %}

{% block submit_row %}
    <div class="d-grid">
        <button type="submit" name="hash" value="hash" class="btn btn-primary btn-block">Hash</button>
    </div>
{% endblock submit_row %}

{% block script_section %}
<script>
    $(document).ready(function() {
        if ($('input[type=radio][name=input_type]:checked').val() === 'file') {
            $("#id_input_text_container").hide();
        } else {
            $("#id_input_file_container").hide();
        }

        $('input[type=radio][name=input_type]').change(function() {
            if ($(this).val() === 'file') {
                $("#id_input_file_container").show();
                $("#id_input_text_container").hide();
            } else {
                $("#id_input_file_container").hide();
                $("#id_input_text_container").show();
            }
        });
    });
</script>
{% endblock script_section %}